<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="/css/template.css" />
  </head>

  <body class="container">
    <div class="col-xs-12">

      <header>
        <%include ../partials/header %>
      </header>

      <head>
        <h2><% include ../partials/head %>Template</h2>
      </head>

      <h2><%= status %></h2>
    </div>
  </body>
</html>

