<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="/css/template.css" />
  </head>

  <body class="container">
    <div class="col-xs-12">

      <h2>Your video will be shipped to your Inbox. Kindly check your mail in an hour.</h2>
    </div>
  </body>
</html>

